* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ul, li, p, span {
    font-family: 'Lato', sans-serif;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

input {
    display: inline-block;
}

button {
    cursor: pointer;
}

.searchbar {
    padding: 10px;
}

.results {
    padding: 30px;
}

ul {
    margin-top: 20px;
    margin-left: 20px;
    position: absolute;
    top: 0;
    left: 0;
}

ul li {
    color: white;
    font-weight: 700;
}

ul span {
    color: blue;
    font-weight: 700;
}

#flag {
    width: 30px;
    height: auto;
}

#movie-details ul li i {
    color: Gold;
}

#tv-details ul li i {
    color: Gold;
}

.locandina {
    width: 304px;
    height: 100%;
    border: 2px solid black;
    margin-top: 20px;
    object-fit: cover;
    position: relative;
    display: inline-block;
    /* text-align: center; */
}


li {
    list-style-type: none;
}

img {
    width: 100%;
}

.fascia {
    width: 300px;
    height: 25px;
    text-align: center;
    position: absolute;
    bottom: 0;
    color: white;
}

.f-bg1 {
    background-color: red;
}

.f-bg2 {
    background-color: blue;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* display: none; */
}
