* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

input {
    display: inline-block;
}

button {
    cursor: pointer;
}

.searchbar {
    padding: 10px;
}

.results {
    padding: 30px;
}

ul {
    margin-top: 20px;
}

ul span {
    color: blue;
    font-weight: 700;
}

#flag {
    width: 30px;
    height: auto;
    /* display: block; */
}

#movie-details ul li i {
    color: Gold;
}
